.friendList {
  display: flex;
  gap: 20px;
}

.friendListItem {
  display: block;
  box-sizing: border-box;
  width: 85px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px 5px;
  text-align: center;
}
